html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  min-width: 360px;
  min-height: 100vh;

  color: var(--color-text-primary);

  background-image: url("/images/background3.png");
  background-position: center;
  background-size: cover;
}

.scrollArea {
  height: 100%;
}

.wrapper {
  height: 100vh;
  padding-top: var(--header-height);
}

.toast {
  display: flex;
  gap: 16px;

  padding: 8px 24px;

  color: var(--color-light-100);

  border-style: solid;
  border-width: 2px;
  border-radius: var(--radius);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;
    margin: 0;
  }
}

.toastSuccess {
  background-color: var(--color-green-900);
  border-color: var(--color-green-500);
}

.toastError {
  background-color: var(--color-red-600);
  border-color: var(--color-red-400);
}

// button {
//   position: absolute;
//   top: 16px !important;
//   right: 8px !important;
//   left: auto !important;

//   color: var(--color-green-900);

//   background-color: var(--color-light-100);
//   border: none;
//   border-radius: var(--radius) !important;

//   transition: all 0.3s ease 0s;

//   &:hover {
//     background-color: var(--color-green-500);
//     border: 1px solid var(--color-green-500);
//   }

//   svg {
//     width: 24px;
//     height: 24px;
//   }
// }
