:root {
  /* light */
  --color-light-100: #fff;
  --color-light-800: #5f6470;
  --color-light-900: #454952;

  /* yellow */
  --color-yellow-200: #ffc905;
  --color-yellow-900: #25200f;

  /* sienna */
  --color-sienna-050: #fff3e4;
  --color-sienna-200: #f9b241;
  --color-sienna-250: #f9b331;
  --color-sienna-300: #ff9b05;

  /* orange */
  --color-orange-100: #cfa69b;
  --color-orange-200: #ff8a05;
  --color-orange-300: #f9572a;
  --color-orange-400: #fd4715;
  --color-orange-900: #2c1e19;

  /* red */
  --color-red-100: #e4dbdd;
  --color-red-400: #ff0040;
  --color-red-500: #cc1439;
  --color-red-600: #990f2b;

  /* green */
  --color-green-100: #80ffbf;
  --color-green-500: #14cc70;
  --color-green-700: #0f9954;
  --color-green-900: #0a6638;
}
