:root {
  /* accent */
  --color-accent-100: #ddd6cb;
  --color-accent-300: #f9b331;
  --color-accent-400: #ff8a05;
  --color-accent-800: #2c2306;
  --color-accent-900: #29251c;

  /* light */

  --color-light-300: #d9e2f1;
}
