:root {
  /* accent */

  --color-accent-100: #fff3e4;
  --color-accent-200: #ffc905;
  --color-accent-250: #f9b241;
  --color-accent-300: #f9b331;
  --color-accent-350: #ff9b05;
  --color-accent-400: #ff8a05;
  --color-accent-500: #f9572a;
  --color-accent-550: #fd4715;
  --color-accent-800: #2c2306;
  --color-accent-900: #29251c;

  /* light */
  --color-light-100: #fff;
  --color-light-300: #d9e2f1;
}
