:root {
  /* text */
  --color-text-primary: var(--color-light-300);

  /* backgrounds */
  --bg-primary: linear-gradient(var(--color-accent-900), var(--color-accent-800));

  /* border */
  --radius: 8px;
}
