:root {
  /* text */
  --color-text-primary: var(--color-sienna-050);
  --color-text-secondary: var(--color-orange-100);
  --color-text-error: var(--color-red-400);
  --color-text-accent: var(--color-sienna-300);

  /* backgrounds */
  --bg-text-accent: linear-gradient(90deg, var(--color-orange-300), var(--color-yellow-200));
  --bg-card: linear-gradient(90deg, var(--color-orange-900), var(--color-yellow-900));
  --bg-app-link: linear-gradient(90deg, var(--color-orange-300), var(--color-sienna-300));
  --bg-app-link-hover: linear-gradient(90deg, var(--color-sienna-200), var(--color-orange-400));
  --bg-nav-link: linear-gradient(90deg, var(--color-orange-200), var(--color-sienna-250));
  --bg-input: linear-gradient(90deg, #1b1c2c, var(--color-orange-900));
  --bg-ghost: rgb(255 255 255 / 10%);

  /* border */
  --radius: 4px;
  --border-ghost: 1px solid var(--color-light-900);
  --border-error: 1px solid var(--color-red-600);

  /* header */
  --header-height: 100px;

  /* scrollbar */
  --bg-scrollbar-track: var(--color-orange-900);
  --bg-scrollbar-thumb: var(--color-orange-100);
  --bg-scrollbar-thumb-hover: var(--color-light-100);
}
