.page {
  padding-top: 48px !important;
}

.header {
  display: flex;
  gap: 36px;
  margin-bottom: 100px;
}

.slideshow {
  flex: 1;
  aspect-ratio: 1.4 / 1;
}

.sloganContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}

.slogan {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
  text-align: center;
}

.title {
  margin-bottom: 24px;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.accent {
  font-weight: bold;
  text-transform: uppercase;

  background: var(--bg-text-accent);
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;

  margin-bottom: 48px;

  font-size: var(--font-size-xxl);
  line-height: 1.5;
  text-align: center;
}

.sectionTitle {
  margin-bottom: 24px;
  font-size: 2.5rem;

  &::after {
    content: "";

    display: block;

    width: 70%;
    height: 2px;
    margin: 8px auto;

    background: var(--color-light-800);
  }
}

.article {
  margin: 24px 0;

  h3 {
    margin-bottom: 24px;
    font-size: 2rem;
  }

  h4 {
    margin-bottom: 8px;
  }

  p {
    color: var(--color-text-secondary);
  }
}

.oppotunities {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 36px;

  li {
    padding: 24px;
    background: var(--bg-ghost);
    border: var(--border-ghost);
    border-radius: var(--radius);
  }
}

.circle {
  color: var(--color-light-800);
}

.shake {
  &:hover span {
    animation: shake 0.3s ease-in-out 0s 2; /* 0.5s длительность, 2 итерации */
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(6px, -6px); /* Приподнимаем и смещаем вправо */
  }

  100% {
    transform: translate(0, 0); /* Возвращаем на место */
  }
}

@media screen and (width <= 1024px) {
  .slogan {
    font-size: var(--font-size-xl);

    h1 {
      font-size: 1.875rem;
    }
  }
}

@media screen and (width <= 900px) {
  .oppotunities {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 24px;

    li {
      padding: 16px;
    }
  }

  .header {
    flex-direction: column;
    margin-bottom: 48px;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
  }

  .section {
    margin-bottom: 36px;
    font-size: var(--font-size-xl);
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .article {
    h3 {
      font-size: var(--font-size-xxl);
    }
  }
}

@media screen and (width <= 670px) {
  .page {
    padding-top: 24px !important;
  }

  .header {
    gap: 24px;
  }

  .sloganContainer {
    gap: 8px;
  }

  .slogan {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);

    h1 {
      margin-bottom: 12px;
      font-size: var(--font-size-xxl);
    }
  }

  .links {
    flex-direction: column;
    gap: 0;
  }

  .sectionTitle {
    font-size: 1.75rem;
  }
}
