.page {
  padding-top: 48px !important;
}

.header {
  display: flex;
  gap: 36px;
  margin-bottom: 100px;
}

.slideshow {
  flex: 1;
  aspect-ratio: 1.4 / 1;
}

.sloganContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.slogan {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
  text-align: center;

  h1 {
    margin-bottom: 24px;

    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;

    background: linear-gradient(90deg, var(--color-accent-500), var(--color-accent-200));
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  font-size: var(--font-size-xxl);

  a {
    display: inline-block;

    padding: 16px;

    font-weight: bold;
    color: var(--color-light-100);
    text-decoration: none;

    background: linear-gradient(90deg, var(--color-accent-500), var(--color-accent-350));
    border-radius: var(--radius);

    &:hover,
    &:active {
      background: linear-gradient(90deg, var(--color-accent-550), var(--color-accent-250));
    }

    &:first-child {
      font-weight: normal;
      color: var(--color-accent-350);
      background: transparent;

      &:hover,
      &:active {
        color: var(--color-accent-250);
        background: transparent;
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;

  margin-bottom: 48px;

  font-size: var(--font-size-xxl);
  text-align: center;

  h2 {
    margin-bottom: 24px;
  }
}

@media screen and (width <= 1024px) {
  .slogan {
    font-size: var(--font-size-xl);

    h1 {
      font-size: 1.875rem;
    }
  }
}

@media screen and (width <= 900px) {
  .header {
    flex-direction: column;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (width <= 670px) {
  .page {
    padding-top: 24px !important;
  }

  .header {
    gap: 24px;
  }

  .sloganContainer {
    gap: 8px;
  }

  .slogan {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);

    h1 {
      margin-bottom: 12px;
      font-size: var(--font-size-xxl);
    }
  }

  .links {
    flex-direction: column;
    gap: 0;
    font-size: var(--font-size-xl);

    a {
      padding: 12px;
    }
  }
}
