.header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
  padding: 16px;
}

.menu ul {
  display: flex;
  gap: 24px;
  font-size: var(--font-size-xl);
}

.logo {
  img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    filter: drop-shadow(0 0 12px rgb(255 255 255 / 30%));

    &:hover {
      filter: drop-shadow(0 0 12px rgb(255 255 255 / 50%));
      transition: all 0.5s ease 0s;
    }
  }
}

@media screen and (width <= 768px) {
  .logo {
    gap: 16px;
    font-size: var(--font-size-xl);
  }

  .menu ul {
    gap: 16px;
    font-size: var(--font-size-l);
  }
}

@media screen and (width <= 540px) {
  .menu ul {
    gap: 0;
    font-size: var(--font-size-m);
  }
}
