.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 800px;
}

.button {
  width: 158px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  text-align: right;
}

.alert {
  max-width: 300px;
  padding: 24px 16px;

  color: var(--color-red-100);
  text-align: center;

  background-color: rgb(204 20 57 / 10%);
  border: 1px solid var(--color-red-600);
  border-radius: var(--radius);
}
