.fieldset {
  padding: 8px 16px 16px;
  background-color: var(--bg-ghost);
  border: var(--border-ghost);
  border-radius: var(--radius);

  legend {
    padding-inline: 8px;
    font-size: var(--font-size-l);
    font-style: italic;
    color: var(--color-light-100);
  }
}

.inputWrapper {
  position: relative;
}

.passwordButton {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);

  background: transparent;
  border: none;
}

.input {
  resize: none;
  scrollbar-width: thin;

  display: block;

  width: 100%;
  padding: 8px 16px;

  font-size: var(--font-size-l);
  line-height: 1.4;
  color: var(--color-text-primary);

  background: var(--bg-input);
  border: var(--border-ghost);
  border-radius: var(--radius);

  transition: border-color 0.3s ease 0s;

  &.password {
    padding-right: 42px;
  }

  &:hover {
    border-color: var(--color-light-100);
  }
}

.error {
  border: var(--border-error);
}

.errorText {
  font-size: var(--font-size-s);
  color: var(--color-text-error);
}
