.meal {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  background: var(--bg-card);
  border-radius: var(--radius);
  box-shadow: 0 0 12px rgb(0 0 0 / 30%);

  transition: all 0.3s ease-in-out;
}

.header {
  position: relative;
}

.favorite {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 12px;

  display: flex;
  align-items: center;

  padding: 4px;

  color: var(--color-sienna-300);

  background-color: rgb(63 46 26 / 47.3%);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 50%;

  transition: transform 0.2s ease 0s;

  &:hover {
    transform: scale(1.105);
  }
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  h2 {
    font-size: var(--font-size-xxl);
  }

  p {
    font-size: var(--font-size-xs);
    font-style: italic;
    color: var(--color-text-secondary);
  }
}

.image {
  position: relative;
  aspect-ratio: 1.4 / 1;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;

  height: 100%;
  padding: 0 16px 16px;
}

.actions {
  text-align: right;
}

.link {
  padding: 6px 12px;
  font-size: var(--font-size-m);
}
