.link {
  padding: 8px 16px;

  font-weight: bold;
  color: var(--color-accent-100);
  text-decoration: none;

  border-radius: var(--radius);

  &:hover,
  &:active,
  &.active {
    text-shadow: 0 0 18px rgb(248 190 42 / 80%);
    background: linear-gradient(90deg, var(--color-accent-400), var(--color-accent-300));
    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}
