.link {
  display: inline-block;

  padding: 12px;

  font-size: var(--font-size-xxl);
  text-decoration: none;

  background: linear-gradient(90deg, var(--color-accent-500), var(--color-accent-350));
  border-radius: var(--radius);

  @media screen and (width <= 670px) {
    font-size: var(--font-size-xl);
  }
}

.primary {
  font-weight: bold;
  color: var(--color-light-100);
  background: linear-gradient(90deg, var(--color-accent-500), var(--color-accent-350));

  &:hover,
  &:active {
    background: linear-gradient(90deg, var(--color-accent-550), var(--color-accent-250));
  }
}

.text {
  color: var(--color-accent-350);
  background: transparent;

  &:hover,
  &:active {
    color: var(--color-accent-250);
    background: transparent;
  }
}
