.link {
  display: inline-block;

  padding: 12px;

  font-size: var(--font-size-xxl);
  text-decoration: none;

  border-radius: var(--radius);

  @media screen and (width <= 670px) {
    font-size: var(--font-size-xl);
  }
}

.primary {
  font-weight: bold;
  color: var(--color-light-100);
  background: var(--bg-app-link);

  &:hover,
  &:active {
    background: var(--bg-app-link-hover);
  }
}

.text {
  color: var(--color-sienna-300);
  background: transparent;

  &:hover,
  &:active {
    color: var(--color-sienna-200);
  }
}
