.link {
  display: inline-flex;
  justify-content: center;

  padding: 8px 18px;

  font-size: var(--font-size-l);
  text-decoration: none;

  border-radius: var(--radius);
}

.primary {
  font-weight: bold;
  color: var(--color-light-100);
  background: var(--bg-app-link);

  &:hover,
  &:active {
    background: var(--bg-app-link-hover);
  }
}

.text {
  color: var(--color-sienna-300);
  background: transparent;

  &:hover,
  &:active {
    color: var(--color-sienna-200);
  }
}
